.search-container {
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid #666666;
    border-radius: 5px;
    width: 25%;
    height: 15%;
    padding: 4px;
    background-color: #141414;
  }
  
  .search-icon {
    margin: 0 10px;
    color: #adadad;
  }
  
  .search-input {
    border: none;
    padding: 6px;
    outline: none;
    flex-grow: 1;
    background-color: #141414;
    color: #d6d6d6;
    font-size: 15px;
  }
  
  /* Style the input to match the provided image */
  .search-input::placeholder {
    color: #adadad;
  }