.LocationDiv{
    display: flex;
    flex-direction: column;
    width: 16%;
    margin-left: 3%;
}

.LocationDiv .LocationContent{
    width: 100%;
}

.TimeDiv{
    display: flex;
    flex-direction: column;
    width: 12%;
    min-width: 12%;
    margin-left: 2.9%;
}

.TimeDiv .TimeContent{
    width: 100%;
}

.inner-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
}

.DateDiv{
    display: flex;
    flex-direction: column;
    width: 17%;
    margin-left: 3%;
}

.DateDiv .DateContent{
    width: 100%;
}

.ZoneDiv{
    display: flex;
    flex-direction: column;
    width: 13%;
    min-width: 13%;
    margin-left: 3%;
}

.ZoneDiv .ZoneContent{
    width: 100%;
}

.BottomInfoWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: first baseline;
    min-width: fit-content;
}
