.dropdown-popover {
    width: 180px !important;
    position: absolute !important;
    left: 6px !important; /* Adjust the position slightly to the right */
    border-left: 1px solid #666666 !important;
    border-right: 1px solid #666666 !important;
    border-bottom: 1px solid #666666 !important;
    border-radius: 5px !important;
  }
  