.button-row {
  display: flex;
  justify-content: start;
  height: 40px;
  align-items: center;
  background-color: #000;
  padding: 20px;
  gap: 22px;
  border-top: 1px solid #666666;
  border-bottom: 1px solid #666666;
}

.row-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 260px;
  background-color: #292929;
  color: #d6d6d6;
  border: 1.5px solid #666666;
  border-radius: 5px;
  font-weight: semibold;    /*FIXME - This doesn't work when !bold*/
  font-size: 15px;
  cursor: pointer;
  padding: 0;
  gap: 22px;
}

.row-button svg {
  display: block;
}

.row-button:hover {
  background-color: #666666;
}